<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #thanhngang{
        padding: 2px;
        background-color: rgb(112, 245, 72);
        width: 100%;
        margin: 0;
    }
    #footer_interface{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        max-width: 900px;
        margin: 0 auto;
        
    }
    #full{
        background-color: rgb(55, 232, 245);
    }
    #banquyen{
        background-color: rgb(56, 56, 238);
        color: rgb(226, 227, 228);
        display: flex;
        justify-content: center;
        padding: 0;
    }
    #banquyen h3{
        margin: 0;
    }
    .the{
        text-decoration: none;
        padding: 10px;
        color: black;
    }
    #fb{
        background-color: rgb(0, 110, 255);
        border-color: rgb(0, 110, 255);
        color: aliceblue;
    }
    #yt{
        background-color: red;
        color: white;
        border-color: red;
    }
    .the {
    text-decoration: none;
    color: rgb(24, 16, 16);
    transition: all 0.3s ease; 
    }
    .the:hover {
        color: rgb(124, 123, 123);
        text-decoration: underline; 
        transform: scale(1.1); 
    }

</style>
<body>
    <footer>
        <div>
            <hr id="thanhngang">
            <div id="full">
                <div  id="footer_interface">
                    <div id="sanpham">
                        <h3>SẢN PHẨM</h3>
                        <p><a href="" class="the">Thức ăn cho bò</a></p>
                        <p><a href="" class="the">Thức ăn cho lợn</a></p>
                        <p><a href="" class="the">Thức ăn cho dê</a></p>
                        <p><a href="" class="the">Thức ăn cho thỏ</a></p>
                        <p><a href="" class="the">Thức ăn cho cừu</a></p>
                    </div>
                    <div>
                        <h3>ĐỊA CHỈ</h3>
                        <p>Vĩnh Long: Số 73, Nguyễn Huệ, Phường 2, Tp. Vĩnh Long</p>
                        <p>Cần Thơ: Số 73, Nguyễn Huệ, Phường 2, Tp. Vĩnh Long</p>
                        <p>Đồng Tháp: Số 73, Nguyễn Huệ, Phường 2, Tp. Vĩnh Long</p>
                    </div>
                    <div>
                        <h3>LIÊN HỆ</h3>
                        <p>Email: thucangiasuc@gmail.com</p>
                        <p>Facebook: thức ăn gia súc</p>
                        <p>Phone: 0987654321</p>
                        <div>
                            <input type="button" value="Facebook" id="fb">
                            <input type="button" value="Youtube" id="yt">
                        </div>
                    </div>
                </div>
            </div>
            <div id="banquyen">
                <h3> Bản quyền thuộc về CÔNG TY THỨC ĂN GIA SÚC</h3>
            </div>
        </div>
    </footer>
</body>
</html>