<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #menu{
        background-color: #f0f0f0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .menu{
        text-decoration: none;
        color: black;
        font-size: 18px;
        display: inline-block;
        padding: 0 30px;
    }
    .menu:hover {
        text-decoration: underline;
    }
</style>
<body>
    <header> 
        <div>
        <table id="menu">
            <tr>
                <td>
                    <a href="" class="menu">Trang Chủ</a>
                </td>
                <td>
                    <a href=""class="menu">Sản Phẩm</a>
                </td>
                <td>
                    <a href=""class="menu">Giới Thiệu</a>
                </td>
                <td>
                    <a href=""class="menu">Liên Hệ</a>
                </td>
            </tr>
        </table>
    </div>
    </header>

</body>
</html>