<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #menu {
        background-color: #f0f0f0;
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center; 
    }
    .menu {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        padding:0 30px;
        display: inline-block;
    }
    .menu:hover {
        text-decoration: underline;
    }
    #main{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    #laylai{
        background-color: #e6e5e5;
        padding: 50px;
        width: 500px;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(196, 18, 18, 0.1);
    }
    h2,#trolai{
        text-align: center;
        margin: 0;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    a:hover{
        text-decoration: underline;
    }
    input[type="password"],input[type="password"]{
        width: 92%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }
    #check{
        float: right;
        padding: 0 0;
        color: #333;
        font-size: 14px;
    }
    #checkone{
            padding: 0%;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }
    button:hover {
        background-color: #45a049;
    }
    td{
        padding: 10px 0;
    }
    
</style>
<body>
    <div>
        <table id="menu">
            <tr>
                <td>
                    <a href="" class="menu">Trang Chủ</a>
                </td>
                <td>
                    <a href=""class="menu">Sản Phẩm</a>
                </td>
                <td>
                    <a href=""class="menu">Giới Thiệu</a>
                </td>
                <td>
                    <a href=""class="menu">Liên Hệ</a>
                </td>
            </tr>
        </table>
    </div>
    <form action="/laylaimatkhau" id="main">
        <div>
            <table id="laylai">
                <tr>
                    <td colspan="2"><h2>LẤY LẠI MẬT KHẨU</h2></td>
                </tr>
                <tr>
                    <td>Nhập mật khẩu mới:</td>
                    <td> <input type="password" placeholder="Nhập mật khẩu mới" class="nhap"></td>
                </tr>
                <tr>
                    <td colspan="2" id="checkone">
                        <div class="checkbox-container" id="check">
                            <input type="checkbox" >
                            <label for="check">Hiển thị mật khẩu</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Nhập lại mật khẩu mới</td>
                    <td> <input type="password" placeholder="Nhập lại mật khẩu" class="nhap"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">LƯU MẬT KHẨU</button></td>
                </tr>
                <tr id="trolai">
                    <td colspan="2"> <a href="/">Trở lại trang đăng nhập</a></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>